.page-main__slider-second,
.page-main__slider-third,
.services__slider-second,
.services__slider-third,
.catalog__item-actions {
    display: none;
}

.boom {
    width: 700px;
    height: 400px;
    background-image: url(../img/blank.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

li.popular__item a {
    display: block;
    height: 100%;
}